
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login Panel</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('theme/images/favicon.png')}}">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link href="{{ asset('theme/css/style.css')}}" rel="stylesheet">

</head>

<body class="h-100">

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->

{% trans_default_domain 'FOSUserBundle' %}



<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <a class="text-center" href="index.html"> <h4>Login Panel</h4></a>

                            <form class="form-signin mt-5 mb-5 login-input" action="{{ path("fos_user_security_check") }}" method="post">
                                    {% if csrf_token %}
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    {% endif %}
                                    <label for="username">{{ 'security.login.username'|trans }}</label>
                                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                                    <br>
                                    <label for="password">{{ 'security.login.password'|trans }}</label>
                                    <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" />

                                    <br>
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                    <br>
                                    <input type="submit" id="_submit" name="_submit" class="btn login-form__btn submit w-100" value="{{ 'security.login.submit'|trans }}" />
                                </form>

                            <p class="mt-5 login-form__footer">Dont have account? <a href="{{ path("fos_user_registration_register") }}" class="text-primary">Sign Up</a>   <a href="{{ path("fos_user_resetting_request") }}" class="float-right text-danger">Forgot Password</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--**********************************
    Scripts
***********************************-->
<script src="{{ asset('theme/plugins/common/common.min.js')}}"></script>
<script src="{{ asset('theme/js/custom.min.js') }}"></script>
<script src="{{ asset('theme/js/settings.js') }}"></script>
<script src="{{ asset('theme/js/gleek.js') }}"></script>
<script src="{{ asset('theme/js/styleSwitcher.js') }}"></script>
</body>
</html>








