<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="container">
<form method="post">

    <h1 class="text-center mt-5">Student Login </h1>
    <div class="container pt-3">

        <div class="row justify-content-sm-center">
            <div class="col-sm-10 col-md-6">
                <div class="card border-info">
                    <div class="card-header">Sign in to continue</div>
                    <div class="row col-sm-12">
                        {% if error %}
                            <div class="alert alert-danger col-sm-12">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}


                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="{{ asset('images/logo.jpeg') }}" alt="logo"  width="100" height="100"/>

                            </div>
                            <input type="hidden" name="_csrf_token"
                                         value="{{ csrf_token('authenticate') }}"
                            >

                            <div class="col-md-8">
                                <form class="form-signin">
                                    <input type="text"  value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-2" placeholder="Username" required autofocus>
                                    <input type="password" type="password" name="password" id="inputPassword"  class="form-control mb-2" placeholder="Password" required>

                                    <label class="checkbox float-left">
                                        <input type="checkbox" name="_remember_me">
                                        Remember me
                                    </label>
                                    <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Sign in</button>
                                    <a href="#" class="float-right">Need help?</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('signup') }}" class="float-right">Create an account </a>
            </div>
        </div>
    </div>
</form>
</div>
</body>
</html>
