<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="container">
    <form method="post">


        <div class="container pt-3">

            <div class="row justify-content-sm-center">
                <div class="col-sm-10 col-md-6">
                    <div class="card border-info">
                        <div class="card-header">Sign up   <a href="{{ path('app_login') }}" class="btn btn-info float-right" > Sign in </a></div>

                        <div class="card-body">

                            <div class="row">

                                {% for massage in app.flashes('success') %}
                                    <div class="alert alert-success">
                                        {{ massage }}
                                    </div>

                                {% endfor %}

                                <div class="col-md-12">

                                    <form class="form-signin">
                                        {{ form_start(userform) }}

                                        {{ form_label(userform.username, 'username') }}
                                        {{ form_widget(userform.username) }}

                                        <br>

                                        {{ form_label(userform.password, 'Password') }}
                                        {{ form_widget(userform.password) }}

                                        <br>

                                        <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Sign Up</button>
                                        {{ form_end(userform)    }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
</body>
</html>
