<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
    <body>
    {% trans_default_domain 'FOSUserBundle' %}

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="{{ path('student.index') }}">
                <img src="{{ asset('images/logo.jpeg') }}" alt="logo" style="width:40px;">
            </a>

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('student.index') }}">Student</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('student.displaytreewise') }}">Tree Wise </a>
                </li>
                <li class="nav-item float-right">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            Setting
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Profile</a>
                            <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">Edit</a>
                            <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">Change Password</a>
                        </div>
                    </div>
                </li>

                {#<li class="nav-item">
                    <a class="nav-link" href="?_switch_user=sumit">switch user</a>
                </li>#}

                <li class="nav-item float-right">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            Select Language
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('student.index',{"_locale": "en"}) }}">English</a>
                            <a class="dropdown-item" href="{{ path('student.index',{"_locale": "de"}) }}">german</a>
                        </div>
                    </div>
                </li>
            </ul>
            <a class="nav-link text-warning float-right" href="/logout">Logout</a>
        </nav>
        <div class="container">
            {% block body %}

            {% endblock %}

        </div>
    </body>
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% endblock %}
</html>

