{% extends 'student/base.html.twig' %}

{% block title %}Add New Student  {% endblock %}

{% block body %}

    {% if is_granted('ROLE_FACULTY')  %}



    <br>
    <h3> {{ printlabel }}  <a href="{{ path('student.index') }}"><button type="button" class="btn btn-info btn-sm ">
                <span class="glyphicon glyphicon-plus"></span> Back Home
            </button> </a>
    </h3>

    {#, 'action': path('student.create')#}
    {{ form_start(formdata) }}
    {#{{ form_row(formdata._token) }}#}

    <div class="row">
        <div class="col-sm-6">
            {{ form_label(formdata.name) }}
            {{ form_widget(formdata.name) }}
            {#{{ form_errors(formdata.name) }}#}
        </div>
        <div class="col-sm-6">
            {{ form_label(formdata.mobile) }}
            {{ form_widget(formdata.mobile) }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            {{ form_label(formdata.email) }}
            {{ form_widget(formdata.email) }}

        </div>
        <div class="col-sm-6">
            {{ form_label(formdata.cast) }}
            {{ form_widget(formdata.cast,{attr:{class:'form-control'}}) }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            {{ form_label(formdata.bithdate) }}
            {{ form_widget(formdata.bithdate) }}

        </div>
        <div class="col-sm-6">
            {{ form_label(formdata.favourite_color) }}
            {{ form_widget(formdata.favourite_color) }}
            <p style="color: #916319"> Enter  multiple color with (,)</p>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            {{ form_label(formdata.ClassSection) }}
            {{ form_widget(formdata.ClassSection, {'attr': {'class': 'classSection'}}) }}

        </div>
        <div class="col-sm-6">
            {{ form_label(formdata.ClassSubDivision) }}
            {{ form_widget(formdata.ClassSubDivision, {'attr': {'class': 'classSubDivision'}}) }}

        </div>
    </div>
    <br>
        <div class="row">
            <div class="col-sm-6">
                {{ form_label(formdata.status) }}
                {{ form_widget(formdata.status) }}

            </div>
            <div class="col-sm-6">

            </div>
        </div>
        <br>
    <div class="row ">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Hobbies <a class="text-primary float-right AddNewHobbie">Add New</a> </div>
                <div class="card-body ">
                    <table class="table hobbietable" data-prototype="{% filter escape %}{% include 'student/hobbielayout.html.twig' with {'form': formdata.hobbies.vars.prototype} %}{% endfilter %}">
                        <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%  for  hobbie in formdata.hobbies  %}
                        <tr>
                            <td></td>
                            <td>{{ form_widget(hobbie.name) }}</td>
                            <td>{{ form_widget(hobbie.descriptions) }} {{ form_errors(hobbie.descriptions) }}</td>
                            <td><a class="text-danger deletehobbie"> Delete</a></td>
                        </tr>
                        {%  endfor %}

                        </tbody>
                    </table>




                </div>
            </div>
        </div>

    </div>

    <br>
    <div class="row">
        <div class="col-sm-12">
            {{ form_widget(formdata.Save,{attr:{class:'btn btn-primary float-right'}}) }}
        </div>
    </div>

    {{ form_end(formdata) }}
    <script>
        var NumberRow=0;
        $(document).ready(function()
        {
            SetNumberRow();
            $('.AddNewHobbie').click(function(){

                var prototype = $('.hobbietable').attr('data-prototype');
                var lastnumer = parseInt($('.hobbietable tr:last-child td:nth-child(1)').text());

                newForm = prototype.replace(/__name__/g, lastnumer+1);
                console.log(newForm);
                $('.hobbietable tbody').append(newForm);
                SetNumberRow();
            });

            $(document).on('click','.deletehobbie',function(){
                $(this).closest('tr').remove();
                SetNumberRow();
            });

            $(document).on('change','.classSection',function () {
                var path ='{{ path('student.getClassSubDivisionList') }}';
                var classSectionId = $(this).val();

                $.ajax({
                    type: "POST",
                    url: path,
                    data: {
                        classSectionId: classSectionId,
                    },
                    success: function(result) {

                       $('.classSubDivision').empty();
                       var dropDownCreated;
                        $.each(result, function (key, $val) {
                            dropDownCreated+='<option value="'+key+'">' + $val + '</option>'
                           // console.log(key,$val);
                        });
                        $('.classSubDivision').append(dropDownCreated);

                    },
                    error: function(result) {
                        alert('error');
                    }
                });
            })

        });
        function SetNumberRow()
        {
            var StartNumber =1;
            $('.hobbietable tr').each(function(StartNumber) {
                $(this).find('td:nth-child(1)').html(StartNumber);
                StartNumber++;
            });
            NumberRow=StartNumber;
        }
    </script>
    {%  else %}
        <h3> You are not Access This once. !</h3>
    {% endif %}
{% endblock %}
