{% extends 'student/base.html.twig' %}

{% block title %} Student List {% endblock %}

{% block body %}
    <br>
    {% for massage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ massage }}
        </div>

    {% endfor %}

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#knp">Student List</a>
        </li>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        {#<div id="default" class="container tab-pane fade"><br>
            <h3>Student List  <a href="{{ path('student.create') }}"><button type="button" class="btn btn-info btn-sm float-right">
            <span class="glyphicon glyphicon-plus"></span> Add New Record
            </button> </a>
            </h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Remarks</th>
                        <th></th>
                    </tr>
                </thead>
            <tbody>
            {% for student in studentlist %}
                <tr>
                    <td>{{ student.name | Uppercase}}</td>
                    <td>{{ student.mobile }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.getRemarks|length }}</td>
                    <td>
                    <a href="{{ path('student.show',{id:student.id}) }}"><button class="btn btn-primary btn-sm"> View</button></a>
                    <a href="{{ path('student.edit',{id:student.id}) }}"><button class="btn btn-info btn-sm"> Edit</button></a>
                    {% if is_granted('ROLE_ADMIN')  %}
                    <a href="{{ path('student.delete',{id:student.id}) }}"><button class="btn btn-danger btn-sm"> Delete</button></a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>

        </div>#}
        <div id="knp" class="container tab-pane active"><br>
            <h3> Student List </h3>


                   <a href="{{ path('student.create') }}"><button class="btn btn-primary float-right " style="margin-right: 5px;"> <i class="fa fa-plus" aria-hidden="true"></i> &nbsp;Add Student</button></a>
            <form action="{{ path('student.index') }}" method="post" >
                   <button class="btn btn-success float-right" name="student-search" type="submit" style="margin-right: 5px;" value="Search"> Search</button>
                   <input type="text" class="form-control float-right col-sm-3"  name="studentfilter" style="margin-right: 5px;" value=" {{ SearchVal }}" placeholder="Enter Search value "/>

                </form>

            <br><br>
             {# Knp Filter #}
            {#{{ knp_pagination_filter(pagination, {'s.name': 'Name', 's.mobile': 'Mobile','s.email':'Email'}) }}#}
            <table class="table table-hover">
                <tr>
                    {# sorting of properties based on query components #}
                    <th {% if pagination.isSorted('s.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 's.name') }}</th>
                    <th{% if pagination.isSorted('s.mobile') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Mobile', 's.mobile') }}</th>
                    <th{% if pagination.isSorted('s.email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Email', 's.email') }}</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>

                {% for student in pagination %}
                    <tr>
                        <td>{{ student.name | Uppercase}}</td>
                        <td>{{ student.mobile }}</td>
                        <td>{{ student.email }} </td>
                        <td>{{ student.getRemarks|length }}</td>
                        <td>
                            <a href="{{ path('student.show',{id:student.id}) }}"><button class="btn btn-primary btn-sm"> View</button></a>
                            {% if is_granted('ROLE_FACULTY')  %}
                                <a href="{{ path('student.edit',{id:student.id}) }}"><button class="btn btn-info btn-sm"> Edit</button></a>
                            <a href="{{ path('student.delete',{id:student.id}) }}"><button class="btn btn-danger btn-sm"> Delete</button></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>


    <br> <br>

{% endblock %}
