{% extends 'student/base.html.twig' %}

{% block title %}Student List {% endblock %}

{% block body %}

    {% import 'macro/displayrow.html.twig' as macros %}
<br>
 <h4> <i> Student List Tree Structure </i></h4>


    {% for key,value in student %}
        <br>
        {{ macros.DisplayMainTitle(key) }}
        <br>
            <div id="{{ key }}" class="collapse">
                {%  for name in value %}
                    - {{ name }} <br>
                {% endfor %}
            </div>
    {% endfor %}

{% endblock %}
