{% extends 'student/base.html.twig' %}

{% block title %}Profile Edit{% endblock %}

{% block body %}
    <br>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">Edit Profile </div>
                <div class="card-body">
                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                    {{ form_widget(form) }}

                </div>
                <div class="card-footer float-right"><button type="submit" class="btn btn-success" value="{{ 'profile.edit.submit'|trans }}" >Save</button></div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-sm-2">

        </div>

    </div>

{% endblock %}