{% extends 'admin/base.html.twig' %}

{% block title %}Add New Student  {% endblock %}

{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Student Section</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Student</a></li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block body %}
    <br>
    {% for massage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ massage }}
        </div>

    {% endfor %}

<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#knp">Student List</a>
        </li>

    </ul>
        <!-- Tab panes -->
        <div class="tab-content">

            <div id="knp" class="container tab-pane active"><br>
                <h3> Student List </h3>


                       <a href="{{ path('admin_student.create') }}"><button class="btn btn-primary float-right " style="margin-right: 5px;"> <i class="fa fa-plus" aria-hidden="true"></i> &nbsp;Add Student</button></a>
                <form action="{{ path('admin_student.index') }}" method="post" >
                       <button class="btn btn-success float-right" name="student-search" type="submit" style="margin-right: 5px;" value="Search"> Search</button>
                       <input type="text" class="form-control float-right col-sm-3"  name="studentfilter" style="margin-right: 5px;" value=" {{ SearchVal }}" placeholder="Enter Search value "/>

                    </form>

                <br><br>
                 {# Knp Filter #}
                {#{{ knp_pagination_filter(pagination, {'s.name': 'Name', 's.mobile': 'Mobile','s.email':'Email'}) }}#}
                <table class="table table-hover">
                    <tr>
                        {# sorting of properties based on query components #}
                        <th {% if pagination.isSorted('s.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 's.name') }}</th>
                        <th{% if pagination.isSorted('s.mobile') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Mobile', 's.mobile') }}</th>
                        <th{% if pagination.isSorted('s.email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Email', 's.email') }}</th>
                        <th>Remarks</th>
                        <th></th>
                    </tr>

                    {% for student in pagination %}
                        <tr>
                            <td>{{ student.name | Uppercase}}</td>
                            <td>{{ student.mobile }}</td>
                            <td>{{ student.email }} </td>
                            <td>{{ student.getRemarks|length }}</td>
                            <td>
                                <a href="{{ path('admin_student.show',{id:student.id}) }}"><button class="btn btn-primary btn-sm"> View</button></a>
                                <a href="{{ path('admin_student.edit',{id:student.id}) }}"><button class="btn btn-info btn-sm"> Edit</button></a>
                                <a href="{{ path('admin_student.delete',{id:student.id}) }}"><button class="btn btn-danger btn-sm"> Delete</button></a>

                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
</div>


    <br> <br>

{% endblock %}
