
{% extends 'admin/base.html.twig' %}

{% block title %} Deleted Student List {% endblock %}

{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="{{ path('admin.classIndex') }}">Deleted Student</a></li>

            </ol>
        </div>
    </div>
{% endblock %}
{% block body %}
    <br>
    {% for massage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ massage }}
        </div>

    {% endfor %}
    <br>
<div class="card">
    <div class="card-body">
     <h3> Deleted Student List  <a href="{{ path('admin_student.create') }}"><button type="button" class="btn btn-info btn-sm float-right">
                    <span class="glyphicon glyphicon-plus"></span> Add New Record
                </button> </a>
        </h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Remarks</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for student in studentlist %}
                <tr>
                    <td>{{ student.name | Uppercase}}</td>
                    <td>{{ student.mobile }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.getRemarks|length }}</td>
                    <td>

                        <form action="{{ path('admin.restore.student',{id:student.id}) }}" method="post" >
                        <button class="btn btn-primary btn-sm" type="submit"> Restore</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

