{% extends 'admin/base.html.twig' %}

{% block title %}Student Details {% endblock %}

{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Student Section</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Student Details</a></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Student Details</h4>
        <p class="text-muted m-b-15 f-s-12">Student Details</p>
        <div class="basic-form">
            <table class="table table-hover">

                <tbody>
                <tr>
                    <th>{{ 'name'|trans}}</th>
                    <td>{{ student.name }}</td>
                </tr>
                <tr>
                    <th>Mobile</th>
                    <td>{{ student.mobile }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ student.email }}</td>
                </tr>
                <tr>
                    <th>Cast</th>
                    <td>{{ student.cast.name }}</td>
                </tr>
                <tr>
                    <th>Class </th>
                    <td>{{ student.ClassSection.name }}</td>
                </tr>
                <tr>
                    <th>Class Sub Division </th>
                    <td>{{ student.ClassSubDivision.name }}</td>
                </tr>
                <tr>
                    <th>Birthdate</th>
                    <td>{{ student.bithdate|date('Y-m-d') }}</td>
                </tr>
                <tr>
                    <th>Favourite Color</th>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <br>
            <h6 class="text-danger">Hobbies ({{ student.hobbies|length }})</h6>
            <ul class="list-group list-group-flush">
                {%  for data in student.hobbies %}
                    <li class="list-group-item">{{ data.name }}</li>
                {% endfor %}
            </ul>
            <br>
            <h6 class="text-danger">Remarks ({{ student.remarks|length }})</h6>
            <ul class="list-group list-group-flush">
                {%  for data in student.remarks %}
                    <li class="list-group-item">{{ data.remarks }}</li>
                {% endfor %}
            </ul>
            <br>
            <h6 class="text-danger">Test Marksheet ({{ TestData|length }})</h6>
            <div class="accordion" id="accordionExample">
                {%  for key,data in TestData %}
                <div class="card">
                    <div class="card-header" id="headingOne_{{ loop.index }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne_{{ loop.index }}" aria-expanded="true" aria-controls="collapseOne_{{ loop.index }}">
                                {{ data.instance.name }}
                            </button>

                            <span class="float-right">
                                <a href="{{ path('marks.create',{id:data.instance.id}) }}"><button class="btn btn-info btn-sm"> Edit</button></a>
                                <a href="{{ path('marks.delete',{id:data.instance.id}) }}"><button class="btn btn-danger btn-sm"> Delete</button></a>
                            </span>

                        </h2>
                    </div>

                    <div id="collapseOne_{{ loop.index }}" class="collapse collapsed" aria-labelledby="headingOne_{{ loop.index }}" data-parent="#accordionExample">
                        <div class="card-body">

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Marks</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {%  for key,getMarkData in data.MarksData %}
                                        <tr>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ getMarkData.SubjectName }}</td>
                                            <td>{{ getMarkData.marks }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
