<!DOCTYPE html>
<html lang="en">
<head>
    <title>Check email</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <br>
    <br>
    <h2>Send Email Notification</h2>
    <div class="card center" style="width:400px">

        <div class="card-body">
            <h5 class="card-title">{{ user.email }}</h5>
            <p class="card-text">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
            <a href="https://mail.zoho.com" class="btn btn-primary">Check Email</a>
        </div>
    </div>
    <br>
</div>

</body>
</html>
