<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Send Email Reset Password!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
{% trans_default_domain 'FOSUserBundle' %}
<div class="container">


    <h5 class="text-center mt-5">verified your account</h5>
    <div class="container pt-3">

        <div class="row justify-content-sm-center">
            <div class="col-sm-10 col-md-6">
                <div class="card border-info">

                    <div class="row col-sm-12">



                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="{{ asset('images/logo.jpeg') }}" alt="logo"  width="100" height="100"/>

                            </div>


                            <div class="col-md-8">

                                 <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                                {% if targetUrl %}
                                    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                                {% endif %}
                                <br>
                                <a href="{{ path('fos_user_security_login') }}"> <button class="btn btn-primary"> Sign In</button></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
