<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Register!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="container">


        <div class="container pt-3">

            <div class="row justify-content-sm-center">
                <div class="col-sm-10 col-md-6">
                    <div class="card border-info">
                        <div class="card-header">Sign up   <a href="{{ path("fos_user_security_login") }}" class="btn btn-info float-right" > Sign in </a></div>

                        <div class="card-body">

                            <div class="row">


                                <div class="col-md-12">


                                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                                        {#{{ form_widget(form) }}#}
                                        {{ form_row(form.firstname) }}
                                        {{ form_row(form.email) }}
                                        {{ form_row(form.username) }}
                                        {{ form_row(form.plainPassword) }}
                                        {{ form_row(form._token) }}
                                        {{ form_row(form.roles) }}
                                        <div>
                                            <button type="submit"  class="btn btn-success" value="registration.submit" /> Save </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
</body>
</html>
