{% extends 'admin/base.html.twig' %}

{% block title %} list {% endblock %}

{% block body %}
    <br>
    {% for massage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ massage }}
        </div>

    {% endfor %}
    <br>

    <h3> {% set currentAction = faculty.id ? 'Edit' : 'Add' %}  {{ currentAction }} Faculty  <a href="{{ path('faculty.index') }}"><button type="button" class="btn btn-info btn-sm float-right">
                <span class="glyphicon glyphicon-plus"></span> Back
            </button> </a>
    </h3>


    <br>
    <div class="row ">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Add Faculty </div>
                <div class="card-body ">
                    {{ form_start(form, {'action': path('faculty.create',{id:faculty.id } ), 'method': 'POST'}) }}

                    {{ form_row(form.firstname) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.mobile) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.qualification) }}
                    {{ form_row(form._token) }}
                    {{ form_row(form.roles) }}
                    <div>
                        <button type="submit"  class="btn btn-success" value="registration.submit" /> Save </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>

{% endblock %}

