{% extends 'admin/base.html.twig' %}

{% block title %} Dashbaord {% endblock %}

{% block body %}
    <br>
    {% for massage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ massage }}
        </div>

    {% endfor %}
    <br>

     <h3> Faculty List   <a href="{{ path('faculty.create') }}"><button type="button" class="btn btn-info btn-sm float-right">
                    <span class="glyphicon glyphicon-plus"></span> Add New Record
                </button> </a>
        </h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for faculty in facultyData %}
            <tr>
                <td>{{ faculty.firstname | Uppercase}}</td>
                <td>{{ faculty.mobile }}</td>
                <td>{{ faculty.email }}</td>
                <td>
                    <a href="{{ path('faculty.create',{id:faculty.id}) }}"><button class="btn btn-info btn-sm"> Edit</button></a>
                    <a href="{{ path('faculty.delete',{id:faculty.id}) }}"><button class="btn btn-danger btn-sm"> Delete</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

