{% extends 'admin/base.html.twig' %}

{% block title %} Dashbaord {% endblock %}

{% block body %}
    <br>

    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-1">
                <div class="card-body">
                    <h3 class="card-title text-white">Total Student</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">{{ total_student }}</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-2">
                <div class="card-body">
                    <h3 class="card-title text-white">Total Faculty</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">{{ total_faculty }}</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-3">
                <div class="card-body">
                    <h3 class="card-title text-white">Total Class</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">{{ total_classSection }}</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-4">
                <div class="card-body">
                    <h3 class="card-title text-white">Total Admin</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">{{ total_admin }}</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Order Summary</h4>
                <div id="morris-bar-chart"></div>
            </div>
        </div>

    </div>
</div>
    {% endblock %}

