
{% extends 'admin/base.html.twig' %}

{% block title %} Create Marks  {% endblock %}

{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="{{ path('marks.index') }}">Marks Section</a></li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block body %}

    <br>
    {% for massage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ massage }}
        </div>

    {% endfor %}
    <br>
<div class="card">
    <div class="card-body">
    <h3> {% set currentAction = TestMarkSheet.id ? 'Edit' : 'Add' %}  {{ currentAction }} Test Mark Sheet  <a href="{{ path('marks.index') }}"><button type="button" class="btn btn-info btn-sm float-right">
                <span class="glyphicon glyphicon-plus"></span> Back
            </button> </a>
    </h3>
    {% set StudentId = TestMarkSheet.id ? TestMarkSheet.student.id : '' %}
    {% set getsubdivisionId = TestMarkSheet.subdivision ? TestMarkSheet.subdivision.id : 0 %}
    {% set getstudentId = TestMarkSheet.student ? TestMarkSheet.student.id : 0 %}
   <input type="hidden" id="TestMarkSheetID" value="{{ StudentId }}"/>
   <input type="hidden" id="getAction" value="{{ currentAction }}"/>
   <input type="hidden" id="getsubdivisionId" value="{{ getsubdivisionId }}"/>
   <input type="hidden" id="getstudentId" value="{{ getstudentId }}"/>
    {{ form_start(formdata, {'action': path('marks.create',{id:TestMarkSheet.id} ), 'method': 'POST'}) }}

    {{ form_label(formdata.name) }}
    {{ form_widget(formdata.name) }}

    {{ form_label(formdata.date) }}
    {{ form_widget(formdata.date) }}

    {{ form_label(formdata.ClassSection) }}
    {{ form_widget(formdata.ClassSection) }}

    {{ form_label(formdata.subdivision) }}
    {{ form_widget(formdata.subdivision) }}

    {{ form_label(formdata.Student) }}
    {{ form_widget(formdata.Student) }}
    <br>
    <div class="row ">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Enter Marks </div>
                <div class="card-body ">
                    <table class="table TestmarksTable" >
                        <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Subject Name</th>
                            <th>Marks</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if MarksData is not empty %}
                            {% for key,value in MarksData %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value.SubjectName }}</td>
                                    <td><input type="text" name="marksval[{{ value.SubjectID }}][marks]" class="form-control" required="" value="{{ value.marks }}">
                                    <input type="hidden" name="marksval[{{ value.SubjectID }}][id]" class="form-control" required="" value="{{ value.id  }}"></td>
                                </tr>
                            {% endfor %}
                        {% endif %}



                        </tbody>
                    </table>




                </div>
            </div>
        </div>

    </div>
    <br>
    {{ form_label(formdata.Save) }}
    {{ form_widget(formdata.Save) }}
    {{ form_end(formdata) }}
    </div>
</div>
<script>

    $(document).ready(function() {

        $(document).on('change','#test_marks_ClassSection',function()
        {
           var classID = $(this).val();

            $.ajax({
                url: '{{  path('marks.ajax_subjectListBYClassID')}}',
                method: 'POST',
                data: {
                    'classID' : classID
                },
                success: function (response) {
                    //console.log(response);
                    if(response.success === false)
                    {
                        if(typeof response.data !== 'undefined' && response.data.length > 0)
                        {
                            $('#test_marks_Student').empty();
                            $('#test_marks_subdivision').empty();
                            jQuery.each( response.data[0], function( key, val ) {
                                $('#test_marks_subdivision').append("<option value="+key+">"+val+"</option>");

                            });

                             var NumberRow = 1;
                                $('.TestmarksTable tbody').empty();
                                jQuery.each(response.SubjectData[0], function (key, val) {

                                    $('.TestmarksTable tbody').append("<tr><td>" + NumberRow + "</td><td>" + val + "</td><td><input type='text' name='marksval[" + key + "][marks]' class='form-control' required><input type='hidden' name='marksval[" + key + "][id]' class='form-control' value=''></td>");
                                    NumberRow++;
                                });

                        }
                        $('#test_marks_subdivision').trigger( "change" );
                    }
                    else{
                        alert('Not Get Data Somthing wr wrong');
                    }
                }
            });
        });

        $(document).on('change','#test_marks_subdivision',function()
        {
            var classID = $('#test_marks_ClassSection').val();
            var classsubdivisionID = $(this).val();

            $.ajax({
                url: '{{  path('marks.ajax_studentListBYClassID')}}',
                method: 'POST',
                data: {
                    'classID' : classID,
                    'classsubdivisionID' :classsubdivisionID
                },
                success: function (response) {
                    //console.log(response);
                    if(response.success === false)
                    {
                        if(typeof response.data !== 'undefined' && response.data.length > 0)
                        {
                            $('#test_marks_Student').empty();
                            jQuery.each( response.data[0], function( key, val ) {
                                $('#test_marks_Student').append("<option value="+key+">"+val+"</option>");

                            });
                        }
                    }
                    else{
                        alert('Not Get Data Somthing wr wrong');
                    }
                }
            });
        });

        if($('#getAction').val() == 'Edit')
        {
            setEditval();
        }
        else {
            $('#test_marks_ClassSection').trigger( "change" );
        }

    });
    function setEditval() {
        var classID = $('#test_marks_ClassSection').val();

        $.ajax({
            url: '{{  path('marks.ajax_subjectListBYClassID')}}',
            method: 'POST',
            data: {
                'classID' : classID
            },
            success: function (response) {
                console.log(response);
                if(response.success === false)
                {
                    if(typeof response.data !== 'undefined' && response.data.length > 0)
                    {
                        $('#test_marks_Student').empty();
                        $('#test_marks_subdivision').empty();
                        jQuery.each( response.data[0], function( key, val ) {
                            $('#test_marks_subdivision').append("<option value="+key+">"+val+"</option>");

                        });


                    }
                }
                else{
                    alert('Not Get Data Somthing wr wrong');
                }

                $( "#test_marks_subdivision").val($('#getsubdivisionId').val());
                var classID = $('#test_marks_ClassSection').val();
                var classsubdivisionID = $('#test_marks_subdivision').val();

                $.ajax({
                    url: '{{  path('marks.ajax_studentListBYClassID')}}',
                    method: 'POST',
                    data: {
                        'classID' : classID,
                        'classsubdivisionID' :classsubdivisionID
                    },
                    success: function (response) {
                        //console.log(response);
                        if(response.success === false)
                        {
                            if(typeof response.data !== 'undefined' && response.data.length > 0)
                            {
                                $('#test_marks_Student').empty();
                                jQuery.each( response.data[0], function( key, val ) {
                                    $('#test_marks_Student').append("<option value="+key+">"+val+"</option>");

                                });
                            }
                        }
                        else{
                            alert('Not Get Data Somthing wr wrong');
                        }
                        $( "#test_marks_Student").val($('#getstudentId').val());
                    }
                });



            }
        });
    }
</script>
{% endblock %}

