
{% extends 'admin/base.html.twig' %}

{% block title %} Marks Section list {% endblock %}

{% block body %}
<br>
{% for massage in app.flashes('success') %}
    <div class="alert alert-success">
        {{ massage }}
    </div>

{% endfor %}
<br>
<div class="card">
    <div class="card-body">
        <h3> Test Marks List   <a href="{{ path('marks.create') }}"><button type="button" class="btn btn-info btn-sm float-right">
                    <span class="glyphicon glyphicon-plus"></span> Add New Record
                </button> </a>
        </h3>
        <div id="knp" class="container tab-pane active"><br>


            {# Knp Filter #}
            {#{{ knp_pagination_filter(pagination, {'s.name': 'Name', 's.mobile': 'Mobile','s.email':'Email'}) }}#}
            <table class="table table-hover">
                <tr>
                    {# sorting of properties based on query components #}
                    <th> Test Sheet Name</th>
                    <th> Student Name</th>
                    <th> Class Name</th>
                    <th> Action</th>
                </tr>
                {% for TestMarks in pagination %}
                    {% if TestMarks is not empty %}
                        <tr>
                            <td>{{ TestMarks.name | Uppercase}}</td>
                            <td>{{ TestMarks.student.name }}</td>
                            <td>{{ TestMarks.ClassSection.name }}</td>
                            <td>
                                <a href="{{ path('marks.create',{id:TestMarks.id}) }}"><button class="btn btn-info btn-sm"> Edit</button></a>
                                <a href="{{ path('marks.delete',{id:TestMarks.id}) }}"><button class="btn btn-danger btn-sm"> Delete</button></a>

                            </td>
                        </tr>
                    {%  endif %}
                {% endfor %}
            </table>
            <br>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

