<form method="post" action="{{ path('subject_list_delete', {'id': subject_list.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subject_list.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
