{% extends 'admin/base.html.twig' %}

{% block title %} Class sub Division list {% endblock %}

{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Class Section</a></li>
                <li class="breadcrumb-item active"><a href="{{ path('admin.classIndex') }}">Class subject</a></li>

            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
    <h4> Subject List</h4>
        <a href="{{ path('subject_list_new') }}"><button type="button" class="btn btn-info btn-sm float-right" style="margin-right: 5px;">
                <span class="glyphicon glyphicon-plus"></span> Add New Record
            </button> </a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subject_list in subject_lists %}
            <tr>
                <td>{{ subject_list.id }}</td>
                <td>{{ subject_list.name }}</td>
                <td>
                    <a href="{{ path('subject_list_edit', {'id': subject_list.id}) }}"><button class="btn btn-info btn-sm"> Edit</button></a>
                    <form method="post" action="{{ path('subject_list_delete', {'id': subject_list.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subject_list.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}
