{% extends 'admin/base.html.twig' %}

{% block title %}SubjectList{% endblock %}

{% block body %}
    <h1>SubjectList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subject_list.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ subject_list.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('subject_list_index') }}">back to list</a>

    <a href="{{ path('subject_list_edit', {'id': subject_list.id}) }}">edit</a>

    {{ include('admin/subject_list/_delete_form.html.twig') }}
{% endblock %}
