{% extends 'admin/base.html.twig' %}



{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Student Section</a></li>
                <li class="breadcrumb-item active"><a href="{{ path('remarks.list') }}">Remark</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Add</a></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Remarsk Add</h4>
        <p class="text-muted m-b-15 f-s-12">Remarks Add</p>
        <div class="basic-form">
            <style>
                .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
                .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
            </style>

            <div class="example-wrapper">
                <h3>Remarks Detail</h3>
                <br>
            {{ form_start(formdata) }}
                 <div class="row">
                      <div class="col-sm-12 ">
                          {{ form_label(formdata.student, 'Select Student',{attr:{class:'col-sm-4'}}) }}
                          {{ form_widget(formdata.student ,{attr:{class:'form-control col-sm-8'}}) }}

                      </div>
                 </div>
                <br>
                <div class="row">

                     <div class="col-sm-12">
                         {{ form_label(formdata.remarks, null,{attr:{class:'col-sm-4'}}) }}
                         {{ form_widget(formdata.remarks ,{attr:{class:'form-control col-sm-8' }}) }}


                     </div>
                 </div>
                <br>
                <div class="row">

                    <div class="col-sm-12">

                        {{ form_widget(formdata.Save ,{attr:{class:'btn btn-primary float-left' }}) }}

                    </div>
                </div>
            </div>
                {{ form_end(formdata) }}
        </div>
    </div>
</div>
{% endblock %}
