{% extends 'admin/base.html.twig' %}
{% block title %} Remark List {% endblock %}

{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Student Section</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Remarks List</a></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Remark List</h4>
        <h3>  <a href="{{ path('remarks.create') }}"><button type="button" class="btn btn-info btn-sm float-right">
                    <span class="glyphicon glyphicon-plus"></span> Add New Remark
                </button> </a>
        </h3>
        <p class="text-muted m-b-15 f-s-12">Remarks Listing</p>

        <br>
        {% for massage in app.flashes('success') %}
            <div class="alert alert-success">
                {{ massage }}
            </div>

        {% endfor %}
        <br>
        <div class="basic-form">

            <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Student</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for remark in studentremarksList %}
            <tr>
                <td>{{ remark.remarks }}</td>
                <td>{{ remark.student.name }}</td>
                <td>
                    <a href="{{ path('remarks.edit',{id:remark.id}) }}"><button class="btn btn-info btn-sm"> Edit</button></a>
                    <a href="{{ path('remarks.delete',{id:remark.id}) }}"><button class="btn btn-danger btn-sm"> Delete</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</div>
{% endblock %}
