<form method="post" action="{{ path('student_status_delete', {'id': student_status.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student_status.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
