{% extends 'admin/base.html.twig' %}

{% block title %} Edit Student Status {% endblock %}

{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Student Section</a></li>
                <li class="breadcrumb-item active"><a href="{{ path('admin.classIndex') }}">Student Status</a></li>

            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h4>Edit ClassSubDivisionList</h4>

            {{ include('admin/student_status/_form.html.twig', {'button_label': 'Update'}) }}

            {{ include('admin/student_status/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}

