{% extends 'admin/base.html.twig' %}

{% block title %} Student Status list {% endblock %}

{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Student Section</a></li>
                <li class="breadcrumb-item active"><a href="{{ path('admin.classIndex') }}">Student Status </a></li>

            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Student Status list</h4>

            <a href="{{ path('student_status_new') }}"><button type="button" class="btn btn-info btn-sm float-right" style="margin-right: 5px;">
                    <span class="glyphicon glyphicon-plus"></span> Add New Record
                </button> </a>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for student_status in student_statuses %}
                    <tr>
                        <td>{{ student_status.id }}</td>
                        <td>{{ student_status.name }}</td>
                        <td>
                            <a href="{{ path('student_status_edit', {'id': student_status.id}) }}"><button class="btn btn-info btn-sm"> Edit</button></a>
                            <a href="#" ><form method="post" action="{{ path('student_status_delete', {'id': student_status.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student_status.id) }}">
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

