{% extends 'admin/base.html.twig' %}

{% block title %}StudentStatus{% endblock %}

{% block body %}
    <h1>StudentStatus</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ student_status.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ student_status.name }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('student_status_index') }}">back to list</a>

    <a href="{{ path('student_status_edit', {'id': student_status.id}) }}">edit</a>

    {{ include('admin/student_status/_delete_form.html.twig') }}
{% endblock %}


<!DOCTYPE html>

<title>StudentStatus</title>

{% block body %}
    <h1>StudentStatus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student_status.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ student_status.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('student_status_index') }}">back to list</a>

    <a href="{{ path('student_status_edit', {'id': student_status.id}) }}">edit</a>

    {{ include('student_status/_delete_form.html.twig') }}
{% endblock %}
