{% extends 'admin/base.html.twig' %}

{% block title %} Class Report {% endblock %}

{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Report Section</a></li>
                <li class="breadcrumb-item active"><a href="#">Class-Student Graph</a></li>

            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
    <style>
       .graph_css {
        width: 100%;
        height: 500px;
    }

</style>
    <br>
    {% for massage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ massage }}
        </div>

    {% endfor %}
    <br>
<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-sm-6">
                <h4> Student - Class Graph</h4>
                <div id="studentClassWiseChartDiv" class="graph_css"></div>
            </div>
            <div class="col-sm-6">
                <h4> Subject - Class Graph</h4>
                <div id="SubjectClassWiseChartDiv" class="graph_css"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <h4> Sub Division - Class Graph</h4>
                <div id="SubDivisionClassWiseChartDiv" class="graph_css"></div>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>




{% endblock %}
{% block javascripts %}
    <!-- Styles -->


    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script>
        am4core.ready(function() {

            Student_class_graph();

            Subject_Class_graph();

            subDivision_class_graph();

        }); // end am4core.ready()

        function Student_class_graph()
        {
            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("studentClassWiseChartDiv", am4charts.PieChart);

            // Add data
            chart.data = JSON.parse('{{ StudentClassPieChart|json_encode|raw }}');

            // Add and configure Series
            var pieSeries = chart.series.push(new am4charts.PieSeries());

            pieSeries.dataFields.value = "count";
            pieSeries.dataFields.category = "classname";
            // percentage remove
            pieSeries.legendSettings.labelText = '{classname}';
            pieSeries.legendSettings.valueText = '{count}';

            //percentage remove on tooltip
            pieSeries.labels.template.text = "{classname}: {value}";
            pieSeries.slices.template.tooltipText = "{classname}: {value}";
            pieSeries.labels.template.disabled = true;
            pieSeries.ticks.template.disabled = true;

            chart.legend = new am4charts.Legend();
            chart.legend.position = "right";

            chart.innerRadius = am4core.percent(60);

            var label = pieSeries.createChild(am4core.Label);
            label.text = "Total Student \r\n ({values.value.sum})";
            label.horizontalCenter = "middle";
            label.verticalCenter = "middle";
            label.fontSize = 25;
        }
        
        function Subject_Class_graph() {
            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("SubjectClassWiseChartDiv", am4charts.XYChart3D);

            // Add data
            chart.data = JSON.parse('{{ SubjectClassPieChart|json_encode|raw }}');


            // Create axes
            var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "classname";
            categoryAxis.numberFormatter.numberFormat = "#";
            categoryAxis.renderer.inversed = true;

            var  valueAxis = chart.xAxes.push(new am4charts.ValueAxis());

            // Create series
            var series = chart.series.push(new am4charts.ColumnSeries3D());
            series.dataFields.valueX = "count";
            series.dataFields.categoryY = "classname";
            series.name = "Count";
            //series.columns.template.propertyFields.fill = "color";
            series.columns.template.tooltipText = "{valueX}";
            series.columns.template.column3D.stroke = am4core.color("#fff");
            series.columns.template.column3D.strokeOpacity = 0.2;
        }

        function subDivision_class_graph()
        {
            // Themes end

            // Create chart instance
            var chart = am4core.create("SubDivisionClassWiseChartDiv", am4charts.XYChart);

            // Add data
            chart.data = JSON.parse('{{ SubDivisionClassPieChart|json_encode|raw }}');


            // Create axes
            var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "name";
            categoryAxis.renderer.grid.template.disabled = true;
            categoryAxis.renderer.minGridDistance = 30;
            categoryAxis.renderer.inside = true;
            categoryAxis.renderer.labels.template.fill = am4core.color("#fff");
            categoryAxis.renderer.labels.template.fontSize = 20;

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.renderer.grid.template.strokeDasharray = "4,4";
            valueAxis.renderer.labels.template.disabled = true;
            valueAxis.min = 0;


            // Remove padding
            chart.paddingBottom = 0;

            // Create series
            var series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.valueY = "count";
            series.dataFields.categoryX = "name";
            series.columns.template.propertyFields.fill = "color";
            series.columns.template.propertyFields.stroke = "color";
            series.columns.template.column.cornerRadiusTopLeft = 15;
            series.columns.template.column.cornerRadiusTopRight = 15;
            series.columns.template.tooltipText = "{categoryX}: [bold]{valueY}[/b]";



        }
    </script>

{% endblock %}
