{% extends 'admin/base.html.twig' %}

{% block title %} list {% endblock %}

{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Class Section</a></li>
                <li class="breadcrumb-item active"><a href="{{ path('admin.classIndex') }}">Class</a></li>

            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">{% set currentAction = classSection.id ? 'Edit' : 'Add' %}  {{ currentAction }} Class Sectio</h4>
        <p class="text-muted m-b-15 f-s-12">{% set currentAction = classSection.id ? 'Edit' : 'Add' %}  {{ currentAction }} Class Sectio</p>
        <div class="basic-form">
            <br>
            {% for massage in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ massage }}
                </div>

            {% endfor %}
            <br>

            {{ form_start(formdata, {'action': path('admin.classAdd',{id:classSection.id} ), 'method': 'POST'}) }}

            {{ form_label(formdata.name) }}
            {{ form_widget(formdata.name) }}
            <br>
            <div class="row ">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">Sub Division <a class="text-primary float-right AddNewSubDivision">Add New</a> </div>
                        <div class="card-body ">
                            <table class="table SubDivisiontable" data-prototype="{% filter escape %}{% include 'admin/classSection/subDivisionlayout.html.twig' with {'form': formdata.classSectionSubDivisions.vars.prototype} %}{% endfilter %}">
                                <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for  subDivision in formdata.classSectionSubDivisions  %}
                                    <tr>
                                        <td></td>
                                        <td>{{ form_widget(subDivision.division) }}</td>
                                        <td><a class="text-danger deleteSubDivision"> Delete</a></td>
                                    </tr>
                                {%  endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <div class="row ">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">Subject <a class="text-primary float-right AddNewSubject">Add New</a> </div>
                        <div class="card-body ">
                            <table class="table SubjectTable" data-prototype="{% filter escape %}{% include 'admin/classSection/classSubjectlayout.html.twig' with {'form': formdata.classSubjects.vars.prototype} %}{% endfilter %}">
                                <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for  subject in formdata.classSubjects  %}
                                    <tr>
                                        <td></td>
                                        <td>{{ form_widget(subject.subject) }}</td>
                                        <td><a class="text-danger deleteClassSubject"> Delete</a></td>
                                    </tr>
                                {%  endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <br>

            {{ form_end(formdata) }}
        </div>
    </div>
</div>

    <script>
        var NumberRow=0;
        $(document).ready(function()
        {
            SetNumberRowForSubDivision();
            SetNumberRowForSubject();
            $('.AddNewSubDivision').click(function(){

                var prototype = $('.SubDivisiontable').attr('data-prototype');
                var lastnumer = parseInt($('.SubDivisiontable tr:last-child td:nth-child(1)').text());

                newForm = prototype.replace(/__name__/g, lastnumer+1);
                console.log(newForm);
                $('.SubDivisiontable tbody').append(newForm);
                SetNumberRowForSubDivision();
            });

            $(document).on('click','.deleteSubDivision',function(){
                $(this).closest('tr').remove();
                SetNumberRowForSubDivision();
            });

            $('.AddNewSubject').click(function(){

                var prototype = $('.SubjectTable').attr('data-prototype');
                var lastnumer = parseInt($('.SubjectTable tr:last-child td:nth-child(1)').text());

                newForm = prototype.replace(/__name__/g, lastnumer+1);
                console.log(newForm);
                $('.SubjectTable tbody').append(newForm);
                SetNumberRowForSubject();
            });

            $(document).on('click','.deleteClassSubject',function(){
                $(this).closest('tr').remove();
                SetNumberRowForSubject();
            })

        });
        function SetNumberRowForSubDivision()
        {
            var StartNumber =1;
            $('.SubDivisiontable tr').each(function(StartNumber) {
                $(this).find('td:nth-child(1)').html(StartNumber);
                StartNumber++;
            });
            NumberRow=StartNumber;
        }

        function SetNumberRowForSubject()
        {
            var StartNumber =1;
            $('.SubjectTable tr').each(function(StartNumber) {
                $(this).find('td:nth-child(1)').html(StartNumber);
                StartNumber++;
            });
            NumberRow=StartNumber;
        }
    </script>
{% endblock %}

