{% extends 'admin/base.html.twig' %}

{% block title %} Class Section list {% endblock %}

{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Class Section</a></li>
                <li class="breadcrumb-item active"><a href="{{ path('admin.classIndex') }}">Class</a></li>

            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Class Section List</h4>
        <a href="{{ path('admin.classAdd') }}"><button type="button" class="btn btn-info btn-sm float-right" style="margin-right: 5px;">
                <span class="glyphicon glyphicon-plus"></span> Add New Record
            </button> </a>
        <p class="text-muted m-b-15 f-s-12">Class Section List</p>
        <div class="basic-form">
            <br>
            {% for massage in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ massage }}
                </div>

            {% endfor %}
            <br>
            <table class="table table-hover">
        <thead>
        <tr>
            <th>Class Name</th>
            <th>Sub Division</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for class in pagination %}
            <tr>
                <td>{{ class.name | Uppercase}}</td>
                <td></td>
                <td>
                    <a href="{{ path('admin.classAdd',{id:class.id}) }}"><button class="btn btn-info btn-sm"> Edit</button></a>
                    <a href="{{ path('admin.classDelete',{id:class.id}) }}"><button class="btn btn-danger btn-sm"> Delete</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}

