<form method="post" action="{{ path('class_sub_division_list_delete', {'id': class_sub_division_list.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ class_sub_division_list.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
