{% extends 'admin/base.html.twig' %}

{% block title %} Class sub Division list {% endblock %}

{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Class Section</a></li>
                <li class="breadcrumb-item active"><a href="{{ path('admin.classIndex') }}">Class sub Division</a></li>

            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Class Sub Division List</h4>

        <a href="{{ path('class_sub_division_list_new') }}"><button type="button" class="btn btn-info btn-sm float-right" style="margin-right: 5px;">
                <span class="glyphicon glyphicon-plus"></span> Add New Record
            </button> </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for class_sub_division_list in class_sub_division_lists %}
            <tr>
                <td>{{ class_sub_division_list.id }}</td>
                <td>{{ class_sub_division_list.name }}</td>
                <td>
                    <a href="{{ path('class_sub_division_list_edit', {'id': class_sub_division_list.id}) }}"><button class="btn btn-info btn-sm"> Edit</button></a>
                    <a href="#" ><form method="post" action="{{ path('class_sub_division_list_delete', {'id': class_sub_division_list.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ class_sub_division_list.id) }}">
                                <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                        </form></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>
{% endblock %}
