{% extends 'admin/base.html.twig' %}

{% block title %} New sub Division list {% endblock %}

{% block breadcrumb %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Class Section</a></li>
                <li class="breadcrumb-item active"><a href="{{ path('admin.classIndex') }}">Class sub Division</a></li>

            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
    <h4>New sub Division list</h4>
    {{ include('admin/class_sub_division_list/_form.html.twig') }}

    </div>
</div>
{% endblock %}
