{% extends 'admin/base.html.twig' %}

{% block title %}ClassSubDivisionList{% endblock %}

{% block body %}
    <h1>ClassSubDivisionList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ class_sub_division_list.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ class_sub_division_list.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('class_sub_division_list_index') }}">back to list</a>

    <a href="{{ path('class_sub_division_list_edit', {'id': class_sub_division_list.id}) }}">edit</a>

    {{ include('admin/class_sub_division_list/_delete_form.html.twig') }}
{% endblock %}
