{% extends 'admin/base.html.twig' %}

{% block title %}Profile Edit{% endblock %}

{% block body %}
<br>
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">Change Password </div>
            <div class="card-body">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}

            </div>
            <div class="card-footer float-right"><button type="submit" class="btn btn-success" value="{{ 'change_password.submit'|trans }}" >Save</button></div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="col-sm-2">

    </div>

</div>

{% endblock %}