{% extends 'admin/base.html.twig' %}

{% block title %}Profile Show{% endblock %}

{% block body %}
    <br>
 <div class="row">
     <div class="col-sm-3">

     </div>
     <div class="col-sm-6">
         <div class="card" style="width:400px">
             <img class="card-img-top" src="{{ asset('images/img_avatar1.png') }}" alt="Card image" style="width:100%">
             <div class="card-body">
                 <h4 class="card-title">{{ user.username }}</h4>
                 <code>{{ user.email }}</code>
                 <p class="card-text">Some example text some example text. {{ user.username }} is an architect and engineer</p>

             </div>
         </div>
     </div>
     <div class="col-sm-3">

     </div>

 </div>

{% endblock %}